@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  background: #1c1a1a;
}

h1, h2, h3, h4, p, q, svg {
  color: #e0ecf0;
  fill: #e0ecf0;
}

section {
  margin: 0 4vw;
}

#topresent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5vh 1vw;
}

#img_about {
  border-radius: 48%;
}

#topresent h2, #about h2 {
  font-size: 35pt;
  margin: 10px;
}

#topresent p {
  width: 40%;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: start;
  scroll-margin: 6rem 0;

  margin: 5vh 4vw;
  padding: 20px;

  box-sizing: border-box;
  border-radius: 12px;
  background: #3a3a3a;
}

#skills {
  background: #3a3a3a;
  border: 1px solid #3a3a3a;
  border-radius: 12px;
  
  padding: 0.8rem;
  margin: 5vh 4vw;

  scroll-margin: 6rem 0;
}

#skills h2 {
  font-size: 35pt;
  margin: 1rem 0;
  text-align: center;
}

#skills article {
  display: grid;
  grid-template-columns: 6.8rem auto;
  gap: 0.8rem;
}

#skills article svg {
  width: 90px;
  height: 90px;
}

#contact {
  
}