.projetos {
    min-height: 20vh;
    height: auto;
    width: 20vw;

    display: inline-flex;
    flex-direction: column;
    gap: 0.2rem;

    padding: 1rem;
    margin: 4vh 0.8vw;

    background: #3a3a3a;
    border: #3a3a3a solid 1px;
    border-radius: 12px;

    transition: all 0.3s ease;
}

.projetos:hover {
    box-shadow: #0b0b0b 0 2px 3px 0;
    opacity: 0.8;
}

.projetos h2 {
    font-size: 1.5rem;
}

.projetos section {
    display: flex;
    gap: 0.2rem;
    align-items: center;

    margin: 1.2vh 0;
}

.projetos section svg {
    width: 30px;
    height: 30px;
}

.projectimg {
    width: 100px;
    height: 100px;
}

.code {
    display: flex;
    gap: 0.2rem;
    background: #e0ecf0;

    padding: 0.2rem;
    width: 40%;

    border-radius: 8px;
}

.code:hover {
    box-shadow: #0b0b0b 0 2px 3px 0;
    opacity: 1;
}

.code img {
    height: 1.5rem;
    width: 1.5rem;
}

.code p {
    color: #0b0b0b;
    font-weight: 500;
}